.fullscreen-viewController{
    height: 100vh;
    text-shadow:
    -1px -1px 0 rgb(255, 255, 255),
    1px -1px 0 rgb(255, 255, 255),
    -1px 1px 0 rgb(255, 255, 255),
    1px 1px 0 rgb(255, 255, 255);
    

}

html {
    font-family: "Palatino Linotype", "Book Antiqua";
    font-size: 16px;
  }
#username{
    opacity:0.4;
    width:100%;
}

.password-field{
    opacity:0.4;
}

.marginLeft{
    margin-left: 2em;

}