.fullscreen-viewController{
    height: 100vh;
    text-shadow:
    -1px -1px 0 rgb(255, 255, 255),
    1px -1px 0 rgb(255, 255, 255),
    -1px 1px 0 rgb(255, 255, 255),
    1px 1px 0 rgb(255, 255, 255);
    

}
#username{
    opacity:0.4;
    width:100%;
}

.password-field{
    opacity:0.4;
}